<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GPT Webapp Prototype</title>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
      </head>



<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
        <p>Current User Authenticated: {{ current_user.is_authenticated }}</p>
    </nav>

    <h2>Chat with GPT</h2>

    <input type="text" id="firstPart" placeholder="Give the model a role">
    <input type="text" id="animal" placeholder="Send a message">
    <button onclick="getGptResponse()">Send</button>

    <div id="chatLog"></div>


</body>

</html>
